* {
  padding: 0px;
  margin: 0px;
}

.card-container {
  padding: 25px;
  margin: 0px;
}
.card-content {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-image-control {
  width: 180px;
}
.item-heading {
  font-size: 15px;
  padding: 15px 0px 15px 0px;
}
